{
	"Db": {
		"User": "",
		"Password": "",
		"Schema": "",
		"Host": "",
		"Port": "3306"
	},
	"BotApi": "",
	"Intro": "Expense Tracker - simple expenses tracker. Example for record is -15,#gym or 15,#income",
	"NotImplemented": "_[not implemented]_",
	"Added": "_✓ added, %s_"
}