{
	"Db": {
		"User": "",
		"Password": "",
		"Schema": "",
		"Host": ""
	},
	"BotApi": "",
	"Intro": "Expense Tracker - просты трэкер для выдаткаў. Для запісі выкарыстоўвайце наступны парадак - сума,катэгорыя. Напрыклад, -15,#gym",
	"NotImplemented": "[не рэалізавана]",
	"Added": "✓ дададзена"
}